---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A porpos | Lilian Brossard" description="a propos de lilian brossard">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A porpos"
				tagline="Plus bas vous trouverez : mes études, mes passions et certaines de mes compétences."
			>
				<img
					width="1553"
					height="873"
					src="/portfolio/assets/at-work.jpg"
					alt="Lilian Brossard"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Je suis passionné depuis un moment d'informatique, de programmation et plus récemment de design. Je poursuis mes études dans l'objectif d'en apprendre toujours plus sur ces sujets.
					</p>
					<p>
						J'adore créer, de tout ! J'ai pour objectif de toujours m'améliorer pour un jour m'approcher de la perfection dans le plus de domaines possible.
					</p>
					<p>
						De plus j'aime travailler en équipe, cela permet d'échanger, d'avoir des retours et ainsi de s'adapter en conséquence, pour produire le meilleur résultat possible.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplôme</h2>
				<div class="content">
					<p>Je suis actuellement en BUT informatique. Je suis diplômé d'un bac général avec les spécialisations physique-chimie et NSI (informatique) avec des options de droit et de robotique. Et j'ai également un PSC1, (un diplôme de premier secours)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Aptitudes</h2>
				<div class="content">
					<p>j'aime le travail d'équipe, Je suis passionné, ponctuel, sérieux et curieux.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
