---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import TopPage from "../components/TopPage.astro";
import Outils from "../components/Outils.astro";
import Footer from "../components/Footer.astro";
import Apropos from "../components/Apropos.astro";
import Competences from "../components/Competences.astro";
import Projet from "../components/Projet.astro";

const projects = (await getCollection("work")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<Layout title="Lilian Brossard">
	<main>
		<Header />
		<TopPage />
		<div data-aos="fade-up">
			<Outils />
		</div>
		<div id="Propos" data-aos="fade-up">
			<Apropos />
		</div>
		<div id="Projet" data-aos="fade-up">
			<Projet />
		</div>
		<div id="Competences">
			<Competences />
		</div>
		<Footer />
	</main>
</Layout>
