---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Information from "../components/Information.astro";

const projects = (await getCollection("work")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title="Mes Projets | Lilian Brossard"
  description="En savoir plus a propos de mes projet"
>
  <div>
    <main>
      <div data-aos="fade-up">
        <Information
          title="Mes Projets"
          subtitle="Voici tous les projets que j'ai pu réaliser au cours de mes études ou de mon temps libre."
        />
      </div>
      <div class="listPreview">
        {
          projects.map((project) => (
            <div>
              <PortfolioPreview project={project} />
            </div>
          ))
        }
      </div>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
