---
import Content from "./Content.astro";
---

<div id="Administrer"></div>
<Content>
    <div class="m-0 p-2 border-b-2 border-b-slate-300 bg-slate-900">
        <h2 class="text-xl lg:text-2xl">Administrer</h2>
    </div>
    <div class="flex flex-col flex-nowrap">
        <div
            class="w-full min-h-[25rem] bg-gradient-to-r from-yellow-300 to-yellow-500"
        >
            <div
                class="p-2 m-6 w-1/8 lg:py-6 bg-slate-900 border-2 border-slate-300"
            >
                <p class="text-white">
                    Installer, configurer, mettre à disposition, maintenir en
                    conditions opérationnelles des infrastructures, des services
                    et des réseaux et optimiser le système informatique d’une
                    organisation
                </p>
            </div>
            <div
                class="p-2 m-6 w-1/8 lg:py-6 bg-slate-100 border-2 border-slate-300"
            >
                <p class="text-slate-900">
                    - en sécurisant le système d’information
                </p>
                <p class="text-slate-900">
                    - en appliquant les normes en vigueur et les bonnes
                    pratiques architecturales et de sécurité
                </p>
                <p class="text-slate-900">
                    - en offrant une qualité de service optimale
                </p>
                <p class="text-slate-900">
                    - en assurant la continuité d'activité
                </p>
            </div>
            <div class="ml-4">
                <a
                    href="https://www.enseignementsup-recherche.gouv.fr/sites/default/files/annexe-2-licence-professionnelle-bachelor-universitaire-de-technologie-informatique-29016.pdf"
                    target="_blank">Programme national du BUT informatique</a
                >
            </div>
        </div>
    </div>
</Content>
