---
import Content from "./Content.astro";
---

<div id="Collaborer"></div>

<Content>
    <div class="m-0 p-2 border-b-2 border-b-slate-300 bg-slate-900">
        <h2 class="text-xl lg:text-2xl">Collaborer</h2>
    </div>
    <div class="flex flex-col flex-nowrap">
        <div
            class="w-full min-h-[25rem] bg-gradient-to-r from-slate-700 to-slate-900"
        >
            <div
                class="p-2 m-6 w-1/8 lg:py-6 bg-slate-900 border-2 border-slate-300"
            >
                <p class="text-white">
                    Acquérir, développer et exploiter les aptitudes nécessaires
                    pour travailler efficacement dans une équipe informatique
                </p>
            </div>
            <div
                class="p-2 m-6 w-1/8 lg:py-6 bg-slate-100 border-2 border-slate-300"
            >
                <p class="text-slate-900">
                    - en inscrivant sa démarche au sein d’une équipe
                    pluridisciplinaire
                </p>
                <p class="text-slate-900">
                    - en accompagnant la mise en œuvre des évolutions
                    informatique
                </p>
                <p class="text-slate-900">
                    - en veillant au respect des contraintes juridique
                </p>
                <p class="text-slate-900">
                    - en développant une communication efficace et collaborative
                </p>
            </div>
            <div class="ml-4">
                <a
                    href="https://www.enseignementsup-recherche.gouv.fr/sites/default/files/annexe-2-licence-professionnelle-bachelor-universitaire-de-technologie-informatique-29016.pdf"
                    target="_blank">Programme national du BUT informatique</a
                >
            </div>
        </div>
    </div>
</Content>
