<!-- https://codepen.io/Ata-Hassan/pen/VwRJzZa --><!-- ADVERTISERS SERVICE CARD -->
<section
    id="advertisers z-20"
    class="advertisers-service-sec flex flex-col flex-wrap lg:flex-row justify-around w-screen m-2"
>
    <div class="p-4 text-center lg:w-[30%] w-full my-1 lg:my-0 lg:m-2">
        <div class="service-card">
            <h3>Réaliser</h3>
            <p class="text-left">
                Développer — c’est-à-dire concevoir, coder, tester et intégrer —
                une solution informatique pour un client.
            </p>
            <p class="text-left">
                - en respectant les besoins décrits par le client 4
            </p>
            <p class="text-left">
                - en appliquant les principes algorithmiques
            </p>
            <p class="text-left">
                - en veillant à la qualité du code et à sa documentation
            </p>
            <p class="text-left">
                - en choisissant les ressources techniques appropriées
            </p>
        </div>
    </div>
    <div class="p-4 text-center lg:w-[30%] w-full my-1 lg:my-0 lg:m-2">
        <div class="service-card">
            <h3>Optimiser</h3>
            <p class="text-left">
                Proposer des applications informatiques optimisées en fonction
                de critères spécifiques : temps d’exécution, précision,
                consommation de ressources..
            </p>
            <p class="text-left">
                - en formalisant et modélisant des situations complexes
            </p>
            <p class="text-left">
                - en recensant les algorithmes et les structures de données
                usuels
            </p>
            <p class="text-left">
                - en s’appuyant sur des schémas de raisonnement
            </p>
            <p class="text-left">
                - justifiant les choix et validant les résultats
            </p>
        </div>
    </div>
    <div class="p-4 text-center lg:w-[30%] w-full my-1 lg:my-0 lg:m-2">
        <div class="service-card">
            <h3>Administrer</h3>
            <p class="text-left">
                Installer, configurer, mettre à disposition, maintenir en
                conditions opérationnelles des infrastructures, des services et
                des réseaux et optimiser le système informatique d’une
                organisation
            </p><p class="text-left">
                - en sécurisant le système d’information
            </p>
            <p class="text-left">
                - en appliquant les normes en vigueur et les bonnes pratiques
                architecturales et de sécurité
            </p>
            <p class="text-left">
                - en offrant une qualité de service optimale
            </p>
            <p class="text-left">- en assurant la continuité d'activité</p>
        </div>
    </div>
    <div class="p-4 text-center lg:w-[30%] w-full my-1 lg:my-0 lg:m-2">
        <div class="service-card">
            <h3>Gérer</h3>
            <p class="text-left">
                Concevoir, gérer, administrer et exploiter les données de
                l’entreprise et mettre à disposition toutes les informations
                pour un bon pilotage de l’entreprise
            </p>
            <p class="text-left">
                - en respectant les réglementations sur le respect de la vie
                privée et la protection des données personnelle
            </p>
            <p class="text-left">
                - en respectant les enjeux économiques, sociétaux et écologiques
                de l’utilisation du stockage de données, ainsi que les
                différentes infrastructures (data centers, cloud, etc.)
            </p>
            <p class="text-left">- en s’appuyant sur des bases mathématiques</p>
            <p class="text-left">- en assurant la cohérence et la qualité</p>
        </div>
    </div>
    <div class="p-4 text-center lg:w-[30%] w-full my-1 lg:my-0 lg:m-2">
        <div class="service-card">
            <h3>Conduire</h3>
            <p class="text-left">
                Satisfaire les besoins des utilisateurs au regard de la chaîne
                de valeur du client, organiser et piloter un projet informatique
                avec des méthodes classiques ou agiles
            </p>
            <p class="text-left">
                - en adoptant une démarche proactive, créative et critique
            </p>
            <p class="text-left">
                - en respectant les règles juridiques et les normes en vigueu
            </p>
            <p class="text-left">
                - en communiquant efficacement avec les différents acteurs d’un
                projet
            </p>
            <p class="text-left">
                - en sensibilisant à une gestion éthique, responsable, durable
                et interculturelle
            </p>
        </div>
    </div>
    <div class="p-4 text-center lg:w-[30%] w-full my-1 lg:my-0 lg:m-2">
        <div class="service-card">
            <h3>Collaborer</h3>
            <p class="text-left">
                Acquérir, développer et exploiter les aptitudes nécessaires pour
                travailler efficacement dans une équipe informatique
            </p>
            <p class="text-left">
                - en inscrivant sa démarche au sein d’une équipe
                pluridisciplinaire
            </p>
            <p class="text-left">
                - en accompagnant la mise en œuvre des évolutions informatique
            </p>
            <p class="text-left">
                - en veillant au respect des contraintes juridique
            </p>
            <p class="text-left">
                - en développant une communication efficace et collaborative
            </p>
        </div>
    </div>
</section>
<!-- ADVERTISERS SERVICE CARD ENDED -->
<style>
    /* ADVERTISERS SERVICE CARD */

    .advertisers-service-sec span {
        color: #075985;
    }

    .advertisers-service-sec .service-card {
        width: 100%;
        height: 100%;
        padding: 2em 1.5em;
        border-radius: 5px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: 0.5s;
        position: relative;
        z-index: 2;
        overflow: hidden;
        background: #fff;
    }

    .advertisers-service-sec .service-card::after {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(#38bdf8, #075985);
        position: absolute;
        left: 0%;
        top: -98%;
        z-index: -2;
        transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
    }

    .advertisers-service-sec h3 {
        font-size: 20px;
        font-weight: 600;
        color: #0284c7;
        margin: 1em 0;
        z-index: 3;
    }

    .advertisers-service-sec p {
        color: #334155;
        font-size: 15px;
        line-height: 1.6;
        z-index: 3;
    }

    .advertisers-service-sec .service-card:hover:after {
        top: 0%;
    }

    .service-card .icon-wrapper {
        background-color: #ffffff;
        color: #075985;
    }

    .advertisers-service-sec .service-card:hover .icon-wrapper {
        color: #38bdf8;
    }

    .advertisers-service-sec .service-card:hover h3 {
        color: #ffffff;
    }

    .advertisers-service-sec .service-card:hover p {
        color: #ffffff;
    }
    /* ADVERTISERS SERVICE CARD ENDED */
</style>
