---
import Content from "./Content.astro";
---

<div id="Conduire"></div>

<Content>
    <div class="m-0 p-2 border-b-2 border-b-slate-300 bg-slate-900">
        <h2 class="text-xl lg:text-2xl">Conduire</h2>
    </div>
    <div class="flex flex-col flex-nowrap">
        <div
            class="w-full min-h-[25rem] bg-gradient-to-r from-blue-600 to-blue-800"
        >
            <div
                class="p-2 m-6 w-1/8 lg:py-6 bg-slate-900 border-2 border-slate-300"
            >
                <p class="text-white">
                    Satisfaire les besoins des utilisateurs au regard de la
                    chaîne de valeur du client, organiser et piloter un projet
                    informatique avec des méthodes classiques ou agiles
                </p>
            </div>
            <div
                class="p-2 m-6 w-1/8 lg:py-6 bg-slate-100 border-2 border-slate-300"
            >
                <p class="text-slate-900">
                    - en adoptant une démarche proactive, créative et critique
                </p>
                <p class="text-slate-900">
                    - en respectant les règles juridiques et les normes en
                    vigueu
                </p>
                <p class="text-slate-900">
                    - en communiquant efficacement avec les différents acteurs
                    d’un projet
                </p>
                <p class="text-slate-900">
                    - en sensibilisant à une gestion éthique, responsable,
                    durable et interculturelle
                </p>
            </div>
            <div class="ml-4">
                <a
                    href="https://www.enseignementsup-recherche.gouv.fr/sites/default/files/annexe-2-licence-professionnelle-bachelor-universitaire-de-technologie-informatique-29016.pdf"
                    target="_blank">Programme national du BUT informatique</a
                >
            </div>
        </div>
    </div>
</Content>
