<div>
    <div
        class="my-12 mx-2 lg:mx-16 lg:-skew-y-6 lg:rotate-6 bg-transparent border-b-4 border-r-4 border-b-slate-50 border-r-slate-50 p-4"
    >
        <div class="flex flex-col border-2 border-slate-200">
            <slot />
        </div>
    </div>
</div>
