---
import Content from "./Content.astro";
---

<Content>
    <div class="m-0 p-2 border-b-2 border-b-slate-300">
        <h2 class="text-xl lg:text-2xl">Formation</h2>
    </div>
    <div class="flex flex-col flex-nowrap">
        <div
            class="w-full min-h-[40rem] bg-cover bg-[url('/assets/jupiter.jpg')]"
        >
            <div
                class="p-2 m-6 text-white w-1/8 lg:py-6 bg-slate-900 border-2 border-slate-300"
            >
                <h3>
                    Je suis actuellement en BUT informatique. Je suis diplômé
                    d'un bac général avec les spécialisations physique-chimie et
                    NSI (informatique) avec des options de droit et de
                    robotique. Et j'ai également un PSC1, (un diplôme de premier
                    secours)
                </h3>
            </div>
        </div>
    </div>
</Content>
