---
import Content from "./Content.astro";
---

<div id="Gerer"></div>

<Content>
    <div class="m-0 p-2 border-b-2 border-b-slate-300 bg-slate-900">
        <h2 class="text-xl lg:text-2xl">Gérer</h2>
    </div>
    <div class="flex flex-col flex-nowrap">
        <div
            class="w-full min-h-[25rem] bg-gradient-to-r from-green-400 to-green-600"
        >
            <div
                class="p-2 m-6 w-1/8 lg:py-6 bg-slate-900 border-2 border-slate-300"
            >
                <p class="text-white">
                    Concevoir, gérer, administrer et exploiter les données de
                    l’entreprise et mettre à disposition toutes les informations
                    pour un bon pilotage de l’entreprise
                </p>
            </div>
            <div
                class="p-2 m-6 w-1/8 lg:py-6 bg-slate-100 border-2 border-slate-300"
            >
                <p class="text-slate-900">
                    - en respectant les réglementations sur le respect de la vie
                    privée et la protection des données personnelle
                </p>
                <p class="text-slate-900">
                    - en respectant les enjeux économiques, sociétaux et
                    écologiques de l’utilisation du stockage de données, ainsi
                    que les différentes infrastructures (data centers, cloud,
                    etc.)
                </p>
                <p class="text-slate-900">
                    - en s’appuyant sur des bases mathématiques
                </p>
                <p class="text-slate-900">
                    - en assurant la cohérence et la qualité
                </p>
            </div>
            <div class="ml-4">
                <a
                    href="https://www.enseignementsup-recherche.gouv.fr/sites/default/files/annexe-2-licence-professionnelle-bachelor-universitaire-de-technologie-informatique-29016.pdf"
                    target="_blank">Programme national du BUT informatique</a
                >
            </div>
        </div>
    </div>
</Content>
