---
import Nav from "./Nav.astro";
---

<div class="h-4"></div>
<header
    id="navbar"
    class="bg-transparent w-screen fixed top-0 duration-300 h-8 lg:h-16 z-50"
>
    <div
        class="-z-30 drop-shadow-xl backdrop-blur-sm absolute h-8 lg:h-16 w-full"
    >
    </div>
    <div
        class="-z-20 absolute h-8 lg:h-16 w-full bg-gradient-to-r from-slate-50 to-slate-200 opacity-50"
    >
    </div>
    <nav
        class="flex flex-row justify-between items-center w-full m-0.5 lg:m-1.5 lg:px-4"
    >
        <a
            href="/#"
            class="lg:duration-500 lg:hover:scale-110 hidden lg:inline"
        >
            <div class="flex p-1 flex-row items-center">
                <img src="/profile.svg" alt="profil" class="w-4 h-4" />
                <h3 class="ml-2 aquire">LILIAN BROSSARD</h3>
            </div>
        </a>
        <a
            href="/#"
            class="lg:duration-500 lg:hover:scale-110 lg:hidden inline"
        >
            <div class="flex p-1 flex-row items-center">
                <img src="/profile.svg" alt="profil" class="w-4 h-4" />
            </div>
        </a>
        <Nav />
        <div class="block lg:hidden"></div>
        <div class="hidden lg:flex flex-row justify-around items-center mx-4">
            <div class="p-1 -b-2 mx-2 lg:hover:scale-110 lg:duration-500">
                <a href="https://github.com/LilianBrossard"
                    ><img
                        src="/assets/git1.svg"
                        alt="github"
                        class="w-8 h-8"
                    /></a
                >
            </div>
            <div class="p-1 -b-2 mx-2 lg:hover:scale-110 lg:duration-500">
                <a href="https://www.linkedin.com/in/lilian-brossard-1b6147294/"
                    ><img
                        src="/assets/linkedin1.svg"
                        alt="linkedin"
                        class="w-8 h-8"
                    /></a
                >
            </div>
            <div class="p-1 -b-2 mx-2 lg:hover:scale-110 lg:duration-500">
                <a href="mailto:lilian.brossard@gmail.com"
                    ><img
                        src="/assets/mail1.svg"
                        alt="mail"
                        class="w-8 h-8"
                    /></a
                >
            </div>
        </div>
    </nav>
</header>
<style>
    ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;
    }

    ul li:hover > ul,
    ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .aquire {
        font-family: "aquireregular";
    }
</style>
<!-- menu scroll down/up  -->
<script>
    var lastScrollTop = 0;
    var navbar = document.getElementById("navbar");
    window.addEventListener("scroll", function () {
        var scrollTop =
            window.pageYOffset || document.documentElement.scrollTop;
        if (scrollTop > lastScrollTop) {
            if (navbar) {
                navbar.style.top = "-100%";
            }
        } else {
            if (navbar) {
                navbar.style.top = "0";
            }
        }
        lastScrollTop = scrollTop;
    });
</script>
