<div class="h-8 lg:h-20"></div>
<header
    id="navbar"
    class="bg-transparent w-screen fixed top-0 duration-300 h-8 lg:h-20 z-20"
>
    <div
        class="-z-20 drop-shadow-xl backdrop-blur-sm absolute h-8 lg:h-20 w-full border-b-4 border-b-slate-400"
    >
    </div>
    <nav
        class="flex flex-row justify-between items-center w-full m-0.5 lg:m-1.5 lg:px-4"
    >
        <a href="/#" class="lg:duration-500 lg:hover:scale-110">
            <div
                class="hidden lg:flex p-1 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 bg-slate-900 flex-row items-center"
            >
                <img src="/profile.svg" alt="profil" class="w-4 h-4" />
                <h3 class="ml-2">Lilian Brossard</h3>
            </div>
        </a>
        <div></div>
        <div>
            <ul class="list-none">
                <li
                    class="lg:hover:scale-110 lg:duration-500 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 mx-0.5 lg:mx-2.5 min-w-20 md:min-w-32 duration-500 bg-slate-900 float-left block p-0.5 lg:p-4 relative hover:cursor-pointer hover:bg-slate-700"
                >
                    <a href="/#Projet" class="no-underline">Projets</a>
                </li>
                <li
                    class="lg:hover:scale-110 lg:duration-500 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 mx-0.5 lg:mx-2.5 min-w-20 md:min-w-32 duration-500 bg-slate-900 float-left block p-0.5 lg:p-4 relative hover:cursor-pointer hover:bg-slate-700"
                >
                    <a href="/#Competences" class="no-underline">Compétences</a>
                    <ul class="list-none">
                        <li
                            class="my-0.5 min-w-20 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 md:min-w-32 duration-500 bg-slate-900 float-left block p-0.5 lg:p-4 relative hover:cursor-pointer hover:bg-slate-800"
                        >
                            <a href="/#Realiser" class="no-underline"
                                >Réaliser</a
                            >
                        </li>
                        <li
                            class="my-0.5 min-w-20 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 md:min-w-32 duration-500 bg-slate-900 float-left block p-0.5 lg:p-4 relative hover:cursor-pointer hover:bg-slate-800"
                        >
                            <a href="/#Optimiser" class="no-underline"
                                >Optimiser</a
                            >
                        </li>
                        <li
                            class="my-0.5 min-w-20 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 md:min-w-32 duration-500 bg-slate-900 float-left block p-0.5 lg:p-4 relative hover:cursor-pointer hover:bg-slate-800"
                        >
                            <a href="/#Administrer" class="no-underline"
                                >Administrer</a
                            >
                        </li>
                        <li
                            class="my-0.5 min-w-20 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 md:min-w-32 duration-500 bg-slate-900 float-left block p-0.5 lg:p-4 relative hover:cursor-pointer hover:bg-slate-800"
                        >
                            <a href="/#Gerer" class="no-underline">Gérer</a>
                        </li>
                        <li
                            class="my-0.5 min-w-20 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 md:min-w-32 duration-500 bg-slate-900 float-left block p-0.5 lg:p-4 relative hover:cursor-pointer hover:bg-slate-800"
                        >
                            <a href="/#Conduire" class="no-underline"
                                >Conduire</a
                            >
                        </li>
                        <li
                            class="my-0.5 min-w-20 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 md:min-w-32 duration-500 bg-slate-900 float-left block p-0.5 lg:p-4 relative hover:cursor-pointer hover:bg-slate-800"
                        >
                            <a href="/#Collaborer" class="no-underline"
                                >Collaborer</a
                            >
                        </li>
                    </ul>
                </li>
                <li
                    class="lg:hover:scale-110 lg:duration-500 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 mx-0.5 lg:mx-2.5 min-w-20 md:min-w-32 duration-500 bg-slate-900 float-left block p-0.5 lg:p-4 relative hover:cursor-pointer hover:bg-slate-700"
                >
                    <a href="/#Propos" class="no-underline">A-propos</a>
                    <ul class="list-none">
                        <li
                            class="my-0.5 min-w-20 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 md:min-w-32 duration-500 bg-slate-900 float-left block p-0.5 lg:p-4 relative hover:cursor-pointer hover:bg-slate-800"
                        >
                            <a href="/#QuiSuisJe" class="no-underline"
                                >Qui suis-je</a
                            >
                        </li>
                        <li
                            class="my-0.5 min-w-20 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 md:min-w-32 duration-500 bg-slate-900 float-left block p-0.5 lg:p-4 relative hover:cursor-pointer hover:bg-slate-800"
                        >
                            <a href="/#Formation" class="no-underline"
                                >Formation</a
                            >
                        </li>
                        <li
                            class="my-0.5 min-w-20 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 md:min-w-32 duration-500 bg-slate-900 float-left block p-0.5 lg:p-4 relative hover:cursor-pointer hover:bg-slate-800"
                        >
                            <a href="/#SavoirEtre" class="no-underline"
                                >Savoir-être</a
                            >
                        </li>
                    </ul>
                </li>
                <li
                    class="lg:hover:scale-110 lg:duration-500 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 mx-0.5 lg:mx-2.5 min-w-20 md:min-w-32 duration-500 bg-slate-900 float-left block p-0.5 lg:p-4 relative hover:cursor-pointer hover:bg-slate-700"
                >
                    <a href="#Contacte" class="no-underline">Contact</a>
                </li>
            </ul>
        </div>
        <div></div>
        <div class="hidden lg:flex flex-row justify-around items-center mx-4">
            <div
                class="p-1 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 bg-slate-900 mx-2 lg:hover:scale-110 lg:duration-500"
            >
                <a href="https://github.com/LilianBrossard"
                    ><img
                        src="/assets/git.svg"
                        alt="github"
                        class="w-8 h-8"
                    /></a
                >
            </div>
            <div
                class="p-1 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 bg-slate-900 mx-2 lg:hover:scale-110 lg:duration-500"
            >
                <a href="https://www.linkedin.com/in/lilian-brossard-1b6147294/"
                    ><img
                        src="/assets/linkedin.svg"
                        alt="linkedin"
                        class="w-8 h-8"
                    /></a
                >
            </div>
            <div
                class="p-1 -skew-y-6 rotate-6 border-b-2 border-slate-b-300 border-r-2 border-slate-r-300 bg-slate-900 mx-2 lg:hover:scale-110 lg:duration-500"
            >
                <a href="mailto:lilian.brossard@gmail.com"
                    ><img
                        src="/assets/mail.svg"
                        alt="mail"
                        class="w-8 h-8"
                    /></a
                >
            </div>
        </div>
    </nav>
</header>
<style>
    ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;
    }

    ul li:hover > ul,
    ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }
</style>
<!-- menu scroll down/up  -->
<script>
    var lastScrollTop = 0;
    var navbar = document.getElementById("navbar");
    window.addEventListener("scroll", function () {
        var scrollTop =
            window.pageYOffset || document.documentElement.scrollTop;
        if (scrollTop > lastScrollTop) {
            if (navbar) {
                navbar.style.top = "-100%";
            }
        } else {
            if (navbar) {
                navbar.style.top = "0";
            }
        }
        lastScrollTop = scrollTop;
    });
</script>
