---
import Icon from "./Icon.astro";

interface Props {
  title: string;
  subtitle?: string;
  img?: string;
  alt?: string;
  icon?: string;
}

const { title, subtitle, img, alt, icon } = Astro.props;
---

<div
  class="information margin"
  data-aos="fade-up"
  data-aos-anchor-placement="center-bottom"
>
  <div class="max50">
    {
      icon && (
        <Icon
          icon="terminal-window"
          color="var(--accent-regular)"
          size="2.5rem"
          gradient
        />
      )
    }
    <h1>{title}</h1>
    {subtitle && <h4>{subtitle}</h4>}
    <slot />
  </div>
  <div class="move rellax" data-rellax-speed="2">
    {
      img && alt && (
        <img
          src={img}
          alt={alt}
          data-aos="fade-up"
          data-aos-anchor-placement="center-bottom"
        />
      )
    }
  </div>
</div>
<style>
  img {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 20px auto;
  }
  .information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90w;
    height: auto;
    padding: 40px 40px 0px 10px;
  }
  @media (min-width: 50em) {
    .information {
      display: flex;
      flex-direction: row;
      padding: 40px 50px;
    }
    .max50 {
      max-width: 50%;
    }
  }
</style>
