<nav class="flex flex-row items-start items-center">
    <a
        href="/#Projet"
        class="px-2 lg:px-4 lg:py-2 transform transition duration-300 hover:scale-[1.1] relative group"
        ><h3>Projets</h3><span
            class="none lg:absolute -bottom-1 left-0 w-0 h-[4px] bg-sky-500 transition-all group-hover:w-full lg:-skew-x-12"
        ></span></a
    >
    <a
        href="/#Competences"
        class="px-2 lg:px-4 lg:py-2 transform transition duration-300 hover:scale-[1.1] relative group hidden lg:inline"
        ><h3>Compétences</h3><span
            class="none lg:absolute -bottom-1 left-0 w-0 h-[4px] bg-sky-500 transition-all group-hover:w-full lg:-skew-x-12"
        ></span></a
    >
    <a
        href="/#Propos"
        class="px-2 lg:px-4 lg:py-2 transform transition duration-300 hover:scale-[1.1] relative group"
        ><h3>A-propos</h3><span
            class="none lg:absolute -bottom-1 left-0 w-0 h-[4px] bg-sky-500 transition-all group-hover:w-full lg:-skew-x-12"
        ></span></a
    >
    <a
        href="/#Contact"
        class="px-2 lg:px-4 lg:py-2 transform transition duration-300 hover:scale-[1.1] relative group"
        ><h3>Contact</h3><span
            class="none lg:absolute -bottom-1 left-0 w-0 h-[4px] bg-sky-500 transition-all group-hover:w-full lg:-skew-x-12"
        ></span></a
    >
</nav>
