---
import PrevOutils from "./PrevOutils.astro";
import Content from "./Content.astro";
---

<Content>
    <div class="m-0 p-2 border-b-2 border-b-slate-300">
        <h2 class="text-xl lg:text-2xl">Voici les outils que je maîtrise</h2>
    </div>
    <div class="w-full h-full bg-cover bg-[url('/assets/pilliers.jpg')]">
        <div class="p-2 flex flex-row flex-wrap">
            <PrevOutils url="/assets/github.svg" text="Github" />
            <PrevOutils url="/assets/gitlab.svg" text="Gitlab" />
            <PrevOutils url="/assets/css.svg" text="CSS" />
            <PrevOutils url="/assets/html.svg" text="HTML" />
            <PrevOutils url="/assets/astro.svg" text="Astro" />
            <PrevOutils url="/assets/react.svg" text="React" />
            <PrevOutils url="/assets/hygraph.jpg" text="Hygraph" />
            <PrevOutils url="/assets/tailwind.svg" text="Tailwind CSS" />
            <PrevOutils url="/assets/shadcn.png" text="Shadcn/ui" />
            <PrevOutils url="/assets/bash.svg" text="Bash" />
            <PrevOutils url="/assets/c.svg" text="C" />
            <PrevOutils url="/assets/docker.svg" text="Docker" />
            <PrevOutils url="/assets/postgresql.svg" text="PostgreSQL" />
            <PrevOutils url="/assets/python.svg" text="Python" />
            <PrevOutils url="/assets/php.svg" text="PHP" />
            <PrevOutils url="/assets/linux.svg" text="Linux" />
        </div>
    </div>
</Content>
