<div>
    <h1 class="text-black text-4xl lg:text-8xl inline lg:hidden aquire">
        LILIAN BROSSARD
    </h1>
    <div class="hidden lg:flex flex-row flex-nowrap">
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            L
        </h1>
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            I
        </h1>
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            L
        </h1>
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            I
        </h1>
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            A
        </h1>
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            N
        </h1>
        <div class="w-12"></div>
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            B
        </h1>
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            R
        </h1>
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            O
        </h1>
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            S
        </h1>
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            S
        </h1>
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            A
        </h1>
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            R
        </h1>
        <h1
            class="text-black text-8xl hover:scale-y-150 duration-300 aquire ease-in"
        >
            D
        </h1>
    </div>
    <style>
        .aquire {
            font-family: "aquirelight";
        }
    </style>
</div>
