---
interface Props {
    url: string;
    titre: string;
    site?: string;
}

const { url, titre, site } = Astro.props;
---

<div
    class="flex flex-row min-w-[200px] h-[60px] bg-gradient-to-r from-sky-400 to-sky-800 p-1 justify-between rounded-2xl shadow-lg items-center m-1"
>
    <img src={url} alt={titre} class="w-12 h-12 mr-2" />
    <h3 class="text-text-md text-white font-medium">
        {titre}
    </h3>
    {
        site && site !== "any place" && (
            <a href={site} target="_blank">
                <img
                    src="/assets/more.svg"
                    alt="Lien externe"
                    class="w-8 h-8 hover:scale-[1.05] duration-500"
                />
            </a>
        )
    }
</div>
