---
import Content from "./Content.astro";
---

<Content>
    <div class="m-0 p-2 border-b-2 border-b-slate-300">
        <h2 class="text-xl lg:text-2xl">Qui suis-je ?</h2>
    </div>
    <div class="flex flex-col flex-nowrap">
        <div
            class="w-full min-h-[40rem] bg-cover bg-[url('/assets/supernova.jpg')]"
        >
            <div
                class="p-2 m-6 text-white w-1/8 lg:py-6 bg-slate-900 border-2 border-slate-300"
            >
                <h3>
                    Je suis passionné depuis longtemps d'informatique, de
                    programmation et plus récemment de design. Je poursuis mes
                    études dans l'objectif d'en apprendre toujours plus sur ces
                    sujets.
                </h3>
                <h3>
                    Je vie entre Lorient et Lannion en Bretagne. J'aime écouter
                    de la musique, jouer à des jeux vidéos, regarder des films
                    et les séries.
                </h3>
                <h3>
                    J'adore créer, de tout ! J'ai pour objectif de toujours
                    m'améliorer pour un jour m'approcher de la perfection dans
                    le plus de domaines possible.
                </h3>
                <h3>
                    De plus j'aime travailler en équipe, cela permet d'échanger,
                    d'avoir des retours et ainsi de s'adapter en conséquence,
                    pour produire le meilleur résultat possible.
                </h3>
            </div>
        </div>
    </div>
</Content>
