---
import Content from "./Content.astro";
---

<div id="Realiser"></div>

<Content>
    <div class="m-0 p-2 border-b-2 border-b-slate-300 bg-slate-900">
        <h2 class="text-xl lg:text-2xl">Réaliser</h2>
    </div>
    <div class="flex flex-col flex-nowrap">
        <div
            class="w-full min-h-[25rem] bg-gradient-to-r from-red-700 to-red-900"
        >
            <div
                class="p-2 m-6 w-1/8 lg:py-6 bg-slate-900 border-2 border-slate-300"
            >
                <p class="text-white">
                    Développer — c’est-à-dire concevoir, coder, tester et
                    intégrer — une solution informatique pour un client.
                </p>
            </div>
            <div
                class="p-2 m-6 w-1/8 lg:py-6 bg-slate-100 border-2 border-slate-300"
            >
                <p class="text-slate-900">
                    - en respectant les besoins décrits par le client 4
                </p>
                <p class="text-slate-900">
                    - en appliquant les principes algorithmiques
                </p>
                <p class="text-slate-900">
                    - en veillant à la qualité du code et à sa documentation
                </p>
                <p class="text-slate-900">
                    - en choisissant les ressources techniques appropriées
                </p>
            </div>
            <div class="ml-4">
                <a
                    href="https://www.enseignementsup-recherche.gouv.fr/sites/default/files/annexe-2-licence-professionnelle-bachelor-universitaire-de-technologie-informatique-29016.pdf"
                    target="_blank">Programme national du BUT informatique</a
                >
            </div>
        </div>
    </div>
</Content>
