---
import Icon from "./Icon.astro";
---

<section class="margin skills">
  <div>
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Front End</h2>
    <p>
      Je suis passionné par le front-end et le visuel à apporter pour rendre un
      site attractif et agréable à regarder et parcourir.
    </p>
  </div>
  <div>
    <Icon
      icon="pencil-line"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>J'adore Apprendre</h2>
    <p>
      J'aime particulièrement en apprendre toujours plus et mes études me
      poussent à continuellement en apprendre davantage sur tous les sujets
    </p>
  </div>
  <div>
    <Icon
      icon="github-logo"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Travail d'Équipe</h2>
    <p>
      Je suis très à l'aise dans le travail d'équipe, durant mes études je
      participe à énormément de projet en groupe ce qui me permet d'améliorer
      cette compétence.
    </p>
  </div>
</section>

<style>
  .skills {
    display: flex;
    flex-direction: column;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .skills {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
