---
import Prenom from "./Prenom.astro";
---

<div class="h-full w-full bg-transparent">
    <div class="h-screen w-screen bg-transparent p-2 md:4 lg:p-16">
        <div
            class="hidden lg:block border-t-4 border-l-4 border-t-sky-600 border-l-sky-600 w-1/3 h-1/3 absolute left-20 top-30 rounded-tl-lg"
            data-aos="fade-up-left"
        >
        </div>
        <div
            class="m-auto h-auto w-auto mx-4 lg:mx-16 my-8 flex flex-col justify-around"
            data-aos="zoom-in "
            data-aos-delay="400"
        >
            <div
                class="flex flex-col md:flex-row justify-around items-center my-16"
            >
                <img
                    src="/assets/portrait.jpg"
                    alt="Portrait"
                    class="w-64 h-64 shadow-2xl border-4 border-slate-200 rounded-lg lg:hover:scale-110 lg:duration-500"
                />
                <Prenom />
            </div>

            <h3 class="text-black text-2xl lg:text-4xl">
                Je suis <strong class="underline">Développeur</strong> et <strong
                    class="underline">Étudiant</strong
                ><br /> Je suis aussi à la recherche d'un <strong
                    class="underline">Stage</strong
                >
                <a
                    href="/assets/CV_LilianBrossard.pdf"
                    target="_blank"
                    class="text-sky-500 underline text-2xl lg:text-4xl flex flex-row items-center hover:text-sky-400 lg:hover:scale-110 lg:duration-500 w-min"
                >
                    <img
                        src="/assets/pdf1.svg"
                        alt="PDF"
                        class="w-8 h-8 lg:w-12 lg:h-12"
                    /> CV</a
                >
            </h3>
        </div>
        <div
            class="hidden lg:block border-b-4 border-r-4 border-b-sky-600 border-r-sky-600 w-1/3 h-1/3 absolute bottom-10 right-20 rounded-br-lg"
            data-aos="fade-down-right"
        >
        </div>
    </div>
</div>
